<%= form_with(model: @post, local: true) do |f| %> 
  <%= render 'layouts/error_messages', object: f.object %>
  <div class="field form-group">
    <%= f.text_area :content, placeholder: "Hey! What's up?", class: "form-control", rows: 3 %> 
  </div>
  <%= f.label :expiration, "Choose an expiration date:" %>
  <%= f.datetime_field :expirationDate, class: "form-control" %>
  <%= f.submit "Post", class: "btn btn-success" %> 
<% end %>