<%= form_with(model: @post, local: true) do |f| %> 
  <%= render 'layouts/error_messages', object: f.object %> <div class="field">
  <%= f.text_area :content, placeholder: "Hey! What's up?" %> </div>
  <%= f.label :expiration, "Choose an expiration date:" %>
  <%= f.date_field :expirationDate %>
  <%= f.submit "Post", class: "btn btn-primary" %> 
<% end %>